<!-- toc_item.j2 -->
{% if sdata.text %}
  {% with %}
    {% include "code_page.j2" %}
  {% endwith %}
{% else %}
  {% for name, sect in sdata.items() %}
    {% if sect.data %}
  <h3><a href="{{ sect.url }}">{{ name }}{% if sect.title %}&nbsp;|&nbsp;{{ sect.title }}{% endif %}</a></h3>
      {% with %}
        {% set sdata = sect.data %}
        {% include "toc_item.j2" %}
      {% endwith %}
    {% endif %}
  {% endfor %}
{% endif %}
